{% extends 'base.html' %}

{% block content %}

    {% if books %}

        {% for book in books %}
            <div class="book d-flex justify-content-between align-items-center pb-1">
                <span class="d-block ml-2 mr-3" style="width:50px;">{{book.id}}.</span>
                <a class="d-block w-100" href="{% url 'books:detail' book.id %}">{{ book.title }}</a>
                <div class="d-flex">
                    <span class="d-block mr-3" style="width:100px;">price: {{book.price}}</span>
                    <span class="d-block" style="width:100px;">rating: {{book.rating}}</span>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <p>No books provided.</p>
    {% endif %}

    <div class="pagination mt-3">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}